<md-sidenav-container>

  <md-sidenav #sidenav mode="side" opened="true">

    <md-toolbar class="top-user">
      <span>
         <img src="http://coding.infoconex.com/Custom/Themes/Standard/src/img/logo.png" alt="User">
      </span>
      <md-toolbar-row>
        <span>Wilfred Lemus</span>
        <span class="user-email">wilfred.lemus@gmail.com <md-icon color="accent"  mdTooltip="Email Verificado!" >verified_user</md-icon></span>
      </md-toolbar-row>
    </md-toolbar>

    <div class="vertical-menu">
      <a class="vertical-menu-item" >
        <md-icon>chrome_reader_mode</md-icon>
        Blog
      </a>
      <a class="vertical-menu-item" >
        <md-icon>collections_bookmark</md-icon>
        Recursos
      </a>
      <a class="vertical-menu-item" >
        <md-icon>reorder</md-icon>
        Talleres
      </a>
    </div>
    <span class="divier-menu"></span>
    <div class="vertical-menu">
      <span class="text-muted">Comunidad</span>
      <a class="vertical-menu-item">
        <i class="icon-menu fa fa-facebook-official"></i>
        Facebook
      </a>
      <a class="vertical-menu-item" >
        <i class="icon-menu fa fa-youtube-play"></i>
        Youtube
      </a>
      <a class="vertical-menu-item" >
        <i class="icon-menu fa fa-slack"></i>
        Slack
      </a>
    </div>
    <span class="divier-menu"></span>
    <div class="vertical-menu">
      <span class="text-muted">Configuracion</span>
      <a class="vertical-menu-item">
        <md-icon>person</md-icon>
        Perfil de Usuario
      </a>
      <a class="vertical-menu-item">
        <md-icon>messages</md-icon>
        Mensajes
      </a>
      <a class="vertical-menu-item" >
        <md-icon>power_settings_new</md-icon>
        Cerrar Sesion
      </a>
    </div>

  </md-sidenav>

  <md-toolbar color="primary">
    <button class="hamburger" md-button title="Menu" (click)="sidenav.toggle()">
        <md-icon class="mat-icon">menu</md-icon>
    </button>
    <img src="assets/img/Ng.png" alt="Logo Angular">
    Comunidad Latinoamerica

    <span class="toolbar-filler"></span>

    <a md-button href="https://github.com/WilfredLemus/NgMaterial">GITHUB</a>
    <button md-button><md-icon>notifications</md-icon></button>

    <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item>
        <md-icon>settings</md-icon>
        <span>Configuracion</span>
      </button>
      <button md-menu-item>
        <md-icon>notifications_off</md-icon>
        <span>Desactivar Notif.</span>
      </button>
      <button md-menu-item>
        <md-icon>power_settings_new</md-icon>
        <span>Salir</span>
      </button>
    </md-menu>
  </md-toolbar>

  <md-card>
    <md-card-header>
      <md-card-title class="text-muted">BOTONES</md-card-title>
    </md-card-header>

    <button md-button>FLAT</button>
    <button md-button color="primary">FLAT PRIMARY</button>
    <button md-button color="accent">FLAT ACCENT</button>
    <button md-button color="warn">FLAT WARN</button>
    <br><br>
    <button md-raised-button>RAISED</button>
    <button md-raised-button color="primary">RAISED PRIMARY</button>
    <button md-raised-button color="accent">RAISED ACCENT</button>
    <button md-raised-button color="warn">RAISED WARN</button>
    <br><br>
    <button md-icon-button color="accent"><md-icon>messages</md-icon></button>
    <button md-fab><md-icon>check</md-icon></button>
    <button md-mini-fab><md-icon>check</md-icon></button>

    <md-button-toggle-group #group="mdButtonToggleGroup">
      <md-button-toggle value="left">
        <md-icon>format_align_left</md-icon>
      </md-button-toggle>
      <md-button-toggle value="center">
        <md-icon>format_align_center</md-icon>
      </md-button-toggle>
      <md-button-toggle value="right">
        <md-icon>format_align_right</md-icon>
      </md-button-toggle>
      <md-button-toggle value="justify">
        <md-icon>format_align_justify</md-icon>
      </md-button-toggle>
    </md-button-toggle-group>
  </md-card>

  <md-card>
    <md-card-header>
      <md-card-title class="text-muted">FORM</md-card-title>
    </md-card-header>

    <md-input-container class="space-elemts">
      <input mdInput placeholder="Nombre">
    </md-input-container>

    <md-input-container class="space-elemts">
      <input mdInput #username maxlength="5" placeholder="Username">
      <md-hint align="end">{{username.value.length}} / 5</md-hint>
    </md-input-container>

    <md-input-container class="space-elemts">
      <input mdInput placeholder="Email" [formControl]="emailFormControl" >
      <md-error *ngIf="emailFormControl.hasError('email')">
        Email Invalido!
      </md-error>
      <md-error *ngIf="emailFormControl.hasError('required')">
        Email es <strong>obligatorio</strong>
      </md-error>
    </md-input-container>

    <md-input-container class="space-elemts">
      <input mdInput placeholder="IP" [formControl]="ipFormControl" >
      <md-error *ngIf="ipFormControl.hasError('pattern')">
        IP Invalido!
      </md-error>
      <md-error *ngIf="ipFormControl.hasError('required')">
        IP es <strong>obligatorio</strong>
      </md-error>
    </md-input-container>

    <md-input-container class="space-elemts">
      <input mdInput [mdDatepicker]="picker" placeholder="Fecha">
      <button mdSuffix [mdDatepickerToggle]="picker"></button>
    </md-input-container>
    <md-datepicker #picker></md-datepicker>

    <br><br><br>
    <md-checkbox class="space-elemts">Material Design</md-checkbox>

    <md-radio-group class="space-elemts">
      <md-radio-button value="1">Opcion 1</md-radio-button>
      <md-radio-button value="2">Opcion 2</md-radio-button>
    </md-radio-group>

    <md-select placeholder="Lenguaje" class="space-elemts">
      <md-option value="Javascript">Javascript</md-option>
      <md-option value="Python">Python</md-option>
      <md-option value="Go">Go</md-option>
      <md-option value="Java">Java</md-option>
    </md-select>

    <md-slide-toggle class="space-elemts">Activar Notif.!</md-slide-toggle>

  </md-card>

  <md-card>
    <md-card-header>
      <md-card-title class="text-muted">TABS</md-card-title>
    </md-card-header>

    <md-tab-group>
      <md-tab label="Chips">
        <div class="tab-content">
          <md-chip-list>
            <md-chip>One fish</md-chip>
            <md-chip>Two fish</md-chip>
            <md-chip color="primary" selected="true">Primary fish</md-chip>
            <md-chip color="accent" selected="true">Accent fish</md-chip>
          </md-chip-list>
        </div>
      </md-tab>
      <md-tab label="Progress">
        <div class="tab-content">
          <md-spinner></md-spinner>
          <br><br><br>
          <md-progress-bar mode="indeterminate"></md-progress-bar>
        </div>
      </md-tab>
      <md-tab label="Dialog">
        <div class="tab-content">
          <button md-raised-button (click)="openDialog()">DIALOG</button>
        </div>
      </md-tab>
      <md-tab label="Snackbar">
        <div class="tab-content">
          <button md-raised-button (click)="showSnackbar()">SNACKBAR</button>
        </div>
      </md-tab>

    </md-tab-group>
  </md-card>

</md-sidenav-container>

<span class="app-action" >
  <button md-fab><md-icon>check circle</md-icon></button>
</span>
